/*@mixin checkbox { 
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
}*/
* {
  margin: 0 0 0 0;
  font-family: "Didact Gothic";
  font-size: 26px;
  font-weight: bold;
}

body {
  margin: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40vh (30vh)[3] 50vh 30vh 30vh;
      grid-template-rows: 40vh repeat(3, 30vh) 50vh 30vh 30vh;
  background-color: #970f06;
}

body header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .bar-name {
  font-family: "Righteous";
  font-size: 5rem;
  font-weight: 300;
  color: #0129da;
}

body header .welcome {
  font-family: "Didact Gothic";
  color: #daa801;
  font-size: 2rem;
  text-decoration: overline;
  margin: 7px 0;
}

body header .logo {
  width: 20vw;
  height: auto;
  margin: 7px;
}

body .pizza-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: #daa801;
  border-radius: 8px;
  border: solid 3px black;
  margin-top: 3vh;
}

body .pizza-select .which_pizza {
  font-size: 2rem;
  font-family: "Righteous";
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  body .pizza-select .which_pizza {
    font-size: 1.5rem;
  }
}

body .pizza-select #pizza-select {
  background-color: #45b61f;
  border-radius: 5px;
  width: 30vw;
  border: solid 3px black;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  body .pizza-select #pizza-select {
    width: 70vw;
  }
}

.sauce-wrapper {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background-color: #daa801;
  border-radius: 8px;
  border: solid 3px black;
  margin-top: 3vh;
}

.sauce-wrapper .sauce-wrapper__div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .sauce-wrapper .sauce-wrapper__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sauce-wrapper .sauce-wrapper__label {
  display: inline-block;
  margin-right: 3vw;
}

.drinks-wrapper {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-color: #daa801;
  border-radius: 8px;
  border: solid 3px black;
  margin-top: 3vh;
}

.drinks-wrapper .drinks-wrapper__div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .drinks-wrapper .drinks-wrapper__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.drinks-wrapper .drinks__label {
  display: inline-block;
  margin-right: 3vw;
}

.personal-info {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #daa801;
  border-radius: 8px;
  border: solid 3px black;
  margin-top: 3vh;
}

.personal-info .personal-info__input {
  background-color: #45b61f;
  border-radius: 5px;
  width: 30vw;
  border: solid 3px black;
  padding: 5px;
  display: inline-block;
  margin-bottom: 2vh;
}

@media screen and (max-width: 768px) {
  .personal-info .personal-info__input {
    width: 70vw;
  }
}

.personal-info .personal-info__label {
  display: inline-block;
  margin: 1vh 5vw;
}

.text-area-container {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #daa801;
  border-radius: 8px;
  border: solid 3px black;
  margin-top: 3vh;
}

@media screen and (max-width: 768px) {
  .text-area-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.text-area-container #chef-message {
  background-color: #45b61f;
  border-radius: 5px;
  width: 30vw;
  border: solid 3px black;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .text-area-container #chef-message {
    width: 70vw;
  }
}

.button-div {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.legend {
  font-size: 1.5rem;
  font-family: "Righteous";
  font-weight: 200;
  background-color: #45b61f;
  padding: 4px 8px;
  border-radius: 8px;
  border: solid 3px black;
}

::-webkit-input-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

@-webkit-keyframes myAnimations {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    background-color: #45b61f;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes myAnimations {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    background-color: #45b61f;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-div #submit-btn {
  font-family: "Righteous";
  background-color: #daa801;
  border-radius: 50%;
  border: 3px solid black;
  width: 120px;
  height: 120px;
}

.button-div #submit-btn:hover {
  -webkit-animation: myAnimations linear 1s;
          animation: myAnimations linear 1s;
}

@media screen and (max-width: 768px) {
  body {
    -ms-grid-rows: 40vh (40vh)[3] 75vh 30vh 30vh;
        grid-template-rows: 40vh repeat(3, 40vh) 75vh 30vh 30vh;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .bar-name {
    font-size: 3rem;
  }
  body header .bar-name .sauce-wrapper__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */